/* Podstawa + siatka */

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
    font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #F6F6F6;
    color: #2B2B2B;
    padding: 0px;
    margin: 0px;
    padding: 0px;
}

/* Menu na górze strony */

ul#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2B2B2B;
}

ul#menu li {
    float: left;
}

ul#menu li a, .dropbtn {
    display: block;
    color: #F6F6F6;
    text-align: left;
    padding: 10px 12px;
    text-decoration: none;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    font-size: 13px;
}

ul#menu li a:hover:not(.active) {
    background-color: #135ca4;
}

.active {
    background-color: #1874cd;
}

ul#menu li a:hover, .dropdown:hover .dropbtn {
    background-color: #135ca4;
}

ul#menu .dropdown:hover .dropdown-content a:hover {
    background-color: #0d4072;
}

ul#menu li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #2B2B2B;
    max-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Tabelki */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr {
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
tr:hover:not(:first-child) {background-color: #c4c4c4;}

/* Przyciski */

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
button {
    display: inline-block;
    border-radius: 7px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 3px;
    font-size: 12px;
    min-width: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
}
.brazowy {
    background-color: #7c5e4e;
    border: 2px solid #7c5e4e;
}
.brazowy:hover {
    background-color: #F6F6F6;
    color: #7c5e4e;
}
.czerwony {
    background-color: #f44336;
    border: 2px solid #f44336;
}
.czerwony:hover {
    background-color: #F6F6F6;
    color: #f44336;
}
.zielony {
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
}
.zielony:hover {
    background-color: #F6F6F6;
    color: #4CAF50;
}
.niebieski {
    background-color: #008CBA;
    border: 2px solid #008CBA;
}
.niebieski:hover {
    background-color: #F6F6F6;
    color: #008CBA;
}
.czarny {
    background-color: #555555;
    border: 2px solid #555555;
}
.czarny:hover {
    background-color: #F6F6F6;
    color: #555555;
}

/* Treść */

.naglowek h1 {
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.naglowek {
    background-color: #e5e5e5;
    border-radius: 10px;
    font-size: 12px;
}
.tresc h1 {
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.tresc h3 {
    font-size: 12px;
    margin-top: 0px;
    margin-bottom: 5px;
}
.tresc {
    background-color: #e5e5e5;
    border-radius: 10px;
    font-size: 12px;
}
#lewa {
    width: calc(33.33% - 3px);
    margin-right: 3px;
}
#prawa {
    width: calc(33.33% - 3px);
    margin-left: 3px;
}
.tabelka {
    background-color: #e5e5e5;
    border-radius: 10px;
    font-size: 12px;
}

@media only screen and (max-width: 1020px) {
    .ukryte {
        display: none;
        visibility: hidden;
    }
    #lewa {width: calc(50% - 3px);}
    #prawa {width: calc(50% - 3px);}
    .col-8 {width: 100%;}
}