body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
input {
  margin-left: 25px;
  width: 240px;
  height: 35px;
  margin-right: 25px;
  padding: 5px;
  border: 2px solid black;
  background-color: black;
  color: #eee;
}
input + input {
  margin-top: 5px;
}
button {
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;
  width: 253.98px;
  height: 48.98px;
  background-color: black;
  color: #eee;
  border: 0px;
}
::placeholder {
  color: #a6a6a6;
}
#logo {
  filter: drop-shadow(0px 4px 16px grey);
}